body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #092327;
    color: #FAFEFF;
    font-family: 'Courier New', Courier, monospace;
    height: 60vh; /* needed to shat there's space between header and main */
}

.grid{
    background: white;
    display: flex;
    width: 520px;
    height: 520px;
    align-items: stretch;
    -webkit-box-shadow: 5px 5px 0px 0px #aad4d4, 10px 10px 0px 0px #5fa19f, 15px 15px 0px 0px #0B5351, 20px 20px 0px 0px #063d3b, 25px 25px 0px 0px #092327; /*border effect*/
    box-shadow: 5px 5px 0px 0px #aad4d4, 10px 10px 0px 0px #5fa19f, 15px 15px 0px 0px #0B5351, 20px 20px 0px 0px #063d3b, 25px 25px 0px 0px #092327; /*border effect*/
}

.parentSquare{
    display: flex;
    flex-direction: column;
    flex: 1; /*so that parentSquare (x) aligns to gridsize*/
}

.square{
    flex: 1; /*so that square (y) aligns to parentSquare*/
}

.footer{
    position: absolute;
    bottom: 0;
}

.footer p{
    text-align: center; /* align image to center because position: absolute */
}

.footer img {
    height: 100px;
	width: auto;
}

/* 
Trying following color Palette
#092327 > MAIN-BG
#FAFEFF > FONT
#0B5351 > FOOTER
*/