.wrapper{
    display: flex;
}

.grid{
    display: flex;
    border: 1px solid black;
    width: 520px;
    height: 520px;
    align-items: stretch;
}

.parentSquare{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.square{
    background: blueviolet;
    flex: 1;
}